<form action="{{ url_for('index') }}">
  検索ワード:
  <input type="text" name="word", value="{{ word }}">
  <input type="submit" value="検索">
</form>

<!--
<style type='text/css'>
table.books {border-collapse: collapse;}
table.books td { padding: 5px }
table.books > thead > tr { background-color: #c0c0c0 }
table.books > tbody > tr:nth-child(even) { background-color: #e0e0e0 }
table.books > tbody > tr:nth-child(odd) { background-color: #f0f0f0 }
</style>
-->

<p>{{ search_result|safe }}
